@import url('https://fonts.googleapis.com/css2?family=Allura&family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-destaque: #9aeaf5;
    --cor-base: #333;
    --cor-fundo: #F4EEE6;
}

/*estilização Geral*/
html{
    font-size: 16px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--cor-base);
}

h1{
    font-size: 3rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
}

h2{
    font-size: 2.125rem;
    font-family: "Allura", cursive;
    font-weight: 400;
}

h3{
    font-size: 1.375rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
}

h4{
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    margin-bottom: 8px;
}

h5{
    font-size: 1.25rem;
    font-family: "Allura", cursive;
    font-weight: 400;

}

p{
    font-size: 1rem;
    font-family: "Montserrat", sans-serif;
}

hr{
    background-color: var(--cor-destaque);
    height: 4px;
    border: none;
    width: 90%;
    margin-left: 5%;
    margin-top: 35px;
}

/* icone whatsapp */

.icone-whats{
    position: fixed;
    bottom: 1.25rem;
    right: 0.8rem;
    z-index: 1000;
}

.icone-whats img{
    width: 5rem;
    height: 5rem;
}

/* Cabeçalho */

header{
    background-color: var(--cor-fundo);
    padding: 1.25rem 2.5rem;
    text-align: center;
    height: 6.25rem;
    display: flex;
    justify-content: center;
}

.logo{
   width: 150px;
   height: auto;
   position: relative;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    width: 70%;
    margin-left: 12%;
}

nav p{
    margin-right: 0.75rem;
}

nav img{
    width: 1.25rem;
    height: auto;
    margin-right: 5px;
}

nav a{
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 1rem;
}

nav span{
    font-weight: 500;
    border-bottom: 2px solid var(--cor-base);
}

nav a:active{
    color: #333;
}

/* sobre */

.sobre{
    text-align: center;
    width: 100%;
    margin: 0px auto;
    padding: 1rem auto;
    background-image: linear-gradient(rgba(40,40,40,0.6),rgba(40,40,40,0.6)),url("../assets/brig2.jpg");
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35rem;
}
.sobre-info{
    width: 50%;
    height: auto;
}

.sobre-img{
    width: 40%;
    height: auto;
}

.sobre h1 , .sobre h2{
    margin-bottom: 1.25rem;
    color: var(--cor-fundo);
}

.sobre p{
    font-size: 1.125rem;
    color: var(--cor-fundo);
}

.sobre-textos{
    width: 75%;
    margin: 0 auto;
}

.sobre-textos p{
    margin: 1rem 0px;
}

.sobre-img img{
    width: 100%;
    height: auto;
}




/* Produtos */

.produtos{
    text-align: center;
    padding-top: 2.8125rem;
    background-color: var(--cor-fundo);
}

.produtos h1{
    margin-bottom: 1.25rem;

}

.produtos p{
    margin-bottom: 1.25rem;
}

.produtos h2{
    font-size: 2.25rem;
    margin-bottom: 1rem;
}

.tamanhos h3{
    text-transform: uppercase;
    margin-bottom: 10px;
}

.tamanhos-centos{
    font-size: 19px;
}

.tamanhos span{
    font-weight: bold;
    font-family: "Allura", cursive;
    font-size: 1.5rem;
    margin-left: 0.4rem;
}

.categorias-sabores{
    display: flex;
    justify-content: center;
    margin-top: 1.25rem;
    flex-wrap: wrap;
    width: 60%;
    height: auto;
    margin: 1rem auto;
    padding: 10px;
}

.categoria{
    width: 40%;
    height: auto;
    overflow: hidden;
    position: relative;
    text-align: center;
    padding: 10px;
}

.categoria h3{
    font-size: 1.5625rem;
}

.categoria:nth-child(even)::before {
    content: "";
    position: absolute;

    left: 0;
    top: 1rem;
    bottom: 1rem;

    width: 4px;
    background: var(--cor-destaque);
}

.categoria:nth-child(n+3)::after {
    content: "";
    position: absolute;

    top: 0;
    left: 1rem;
    right: 1rem;

    height: 4px;
    background: var(--cor-destaque);
}

.precos{
    display: flex;
    justify-content: space-evenly;
    padding: 1.5625rem;
}

.quindim{
    margin-top: 2.25rem;
    padding-bottom: 2.25rem;
}

.quindim h3{
    margin: 1.25rem auto 1rem auto;
    text-transform: uppercase;

}

.precos-quindim {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    margin-top: 35px;
    padding-top: 1.5625rem;
}
/*
.precos-quindim::before {
    content: "";
    position: absolute;

    top: 0;
    left: 15%;
    right: 15%;

    height: 4px;
    background: var(--cor-destaque);
}*/

.precos-quindim::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 5px;
    left: 50%;
    width: 4px;
    background: var(--cor-destaque);
}

/* Cardápio Especial */

.cardapio-especial{
    text-align: center;
    width: 100%;
    margin: 0px auto;
    padding: 0px auto;
    background-color: var(--cor-destaque);
}

.cardapio-especial h1{
    padding-top: 35px;
}

.cardapio-cards{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin: 0px auto;
    padding: 1rem auto;
    
}

.cardapio-cards h3{
    font-size: 26px;
}

.cardapio-cards h5{
    font-size: 1.75rem;
}

.cardapio-cards p{
    font-size: 1.125rem;
}

.eventos , .datas-comemorativas{
    margin: 35px 0.3125rem;
    padding: 1rem;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dotted var(--cor-base);

}

.eventos-img, .festividades-img{
    display: flex;
    justify-content: space-between;
    margin: 1rem auto;
    width: 90%;
}

.eventos-img img, .festividades-img img{
    width: 45%;
    height: auto;
}


/* Contato */

.contato{
    text-align: center;
    width: 100%;
    margin: 0px auto;
    padding: 1.5625rem;
    background-color: var(--cor-fundo);
}

.contato-card{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0.5rem 2rem;
    flex-direction: row-reverse;
}

.contato-info{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contato-info-img img{
    height: 40rem;
    width: auto;
}

.contato h5{
    font-size: 1.75rem;
}

.contato p{
    margin: 1rem auto;
    font-size: 1.125rem;

}

.contato .lista{
    margin: 1.5625rem auto;
    font-size: 1.5rem;
}

.lista ul{
    list-style: none;
}

.contato .lista h5{
    font-size: 1.75rem;
    margin-bottom: 0.625rem;
}

.contato .lista a{
    text-decoration: none;
    border: 2px solid var(--cor-destaque);
    padding: 0.75rem;
    border-radius: 1.5625rem;

}

.entrega-card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem;
}

.card-info{
    width: 45%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.entrega-card-title p{
    font-size: 1.25rem;
    margin-bottom: 0px;
}

.entrega-info{
    width: 80%;
    margin: 0px auto;
    padding: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}

.entrega-info .entrega-text{
    margin: 35px 35px 1.25rem 10px;
    width: 80%;
    
}
.entrega-info .entrega-text p{
    font-size: 1.25rem;
}

.entrega-info .mapa{
    width: 100%;
    height: auto;
}

.entrega-info iframe{
    width: 100%;
    height: 400px;

}


/* footer */

footer{
    background-color: var(--cor-destaque);
    text-align: center;
    
}

footer p{
    font-size: 14px;
    color: var(--cor-fundo);
}
